

.my-body{
        background-color: blueviolet;
        font-family: 'Times New Roman', Times, serif;

}

.my-container{
    border: 1px solid red;
    background-color: beige;
    max-width: 600px;
    margin: 10px auto;
    padding: 5rem;
}

.my-face{


    
}

